/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container {
    max-width: 100%;
    width: 100%;
    height:100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  
  .sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .sidenav {
    padding: 20px;
  }